@page "/chats/{ChatId:int}"
@using Microsoft.AspNetCore.Components.Forms
@using WASMChat.Shared.Models
@using WASMChat.Shared.Requests
@using System.Diagnostics.CodeAnalysis
@inject ChatHubClient HubClient
@inject ILogger<ChatPage> Logger
@inject ChatJsInterop JsInterop
@inject IJSRuntime JsRuntime

<PageTitle>@_chat?.Name</PageTitle>

<a class="no-decor" href="/Chats/">⬅️ Назад</a>

<div class="chat-container">
    
    <div class="navbar">
        <h4 class="order">@_chat?.Name</h4>
        
        <div class="user-list-container">
            <button class="send-button" @onclick="@ToggleUserList">Посмотреть пользователей чата</button>
            <div class="user-list @(_showUserList ? "show" : "")">
                @foreach (var user in _chat?.Users ?? Array.Empty<ChatUserModel>())
                {
                    <option value="@user.Id">@user.UserName</option>
                }
            </div>
        </div>
        @(HubClient.Connection.State == HubConnectionState.Connected ? "🟢" : "🔴")
    </div>
    
    <div id="my-container" class="chat-messages-container">
        @if (_chat is not null)
        {
            @foreach (var msg in _messages.Values
                .OrderBy(m => m.SentTime))
            {
                <ChatMessageComponent Message="@msg" IsAuthor="@(msg.Author.Id == _currentUser!.Id)"/>
            }
        }
    </div>
    <div class="chat-input-container">
        <textarea 
            class="message-input" 
            @bind="@_typedMessage" 
            @ref="@_inputRef"
            minlength="@Shared.Constants.Messages.MinMessageTextLength" 
            maxlength="@Shared.Constants.Messages.MaxMessageTextLength">
        </textarea>
        <button class="send-button" @onclick="@SendMessage">📨</button>
        
        @*Вот тут 👇 сделать красиво 👉👈*@
        
        <br/>
        <InputFile OnChange="@OnAttachmentChanged" accept="*/*"/>
    </div>
</div>


@code {
    private const long AttachmentMaxSize = 0xFFFFF;
    
    [Parameter]
    public int ChatId { get; set; }

    private ElementReference _inputRef;
    private IBrowserFile? _attachment;
    
    private ChatUserModel? _currentUser;
    private ChatModel? _chat;
    private Dictionary<int, ChatMessageModel> _messages = new();

    private string _typedMessage = string.Empty;
    
    private bool _showUserList;

    private void ToggleUserList()
    {
        _showUserList = !_showUserList;
    }
    
    protected override async Task OnInitializedAsync()
    {
        Logger.LogInformation("Subscribing to hub");
        HubClient.OnMessagePosted += AddMessage;
        HubClient.OnMessageDeleted += DeleteMessage;
        HubClient.OnMessageEdited += EditMessage;
            
        await HubClient.StartAsync();
        await PullMessagesAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsInterop.ScrollDown();
        await _inputRef.FocusAsync();
    }

    private async Task PullMessagesAsync()
    {
        _chat = await Storage.GetChatAsync(ChatId);
        _messages = _chat.Messages.ToDictionary(m => m.Id, m => m);
        _currentUser = await Storage.GetCurrentUserAsync();
    }

    private async Task SendMessage()
    {
        if (CanSendMessage() is false) return;
        if (string.IsNullOrWhiteSpace(_typedMessage)) return;

        var request = new PostChatMessageRequest
        {
            ChatId = _chat.Id,
            Text = _typedMessage,
        };

        try
        {
            await HubClient.PostMessage(request);
            _typedMessage = string.Empty;
        }
        catch (Exception e)
        {
            Logger.LogError("Exception occured {Ex}", e);
            throw;
        }
    }

    private async Task<PostFileResult> UploadAttachment()
    {
        ArgumentNullException.ThrowIfNull(_attachment);
        Logger.LogInformation("Sending file {File} with size {Size}", 
            _attachment.Name, _attachment.Size);
        
        var data = new MemoryStream();
        await _attachment.OpenReadStream(AttachmentMaxSize).CopyToAsync(data);

        PostFileRequest request = new()
        {
            FileName = _attachment.Name,
            MimeType = _attachment.ContentType,
            Scope = nameof(DatabaseFileScope.Attachment),
            Content = data.ToArray()
        };
        Logger.LogInformation("Sending file {File}", _attachment.Name);
        
        var response = await Http.PostAsJsonAsync("api/Files", request);
        return await response.Content.ReadFromJsonAsync<PostFileResult>() ?? throw new ArgumentException();
    }

    private async Task OnAttachmentChanged(InputFileChangeEventArgs e)
    {
        if (string.IsNullOrWhiteSpace(e.File.ContentType))
        {
            await JsRuntime.AlertAsync("Тип файла не поддерживается");
            return;
        }
        if (e.File.Size > AttachmentMaxSize)
        {
            await JsRuntime.AlertAsync("Файл слишком большой!");
            return;
        }
        _attachment = e.File;
        await SendAttachmentMessage();
    }

    private async Task SendAttachmentMessage()
    {
        if (_attachment is null) return;
        if (CanSendMessage() is false) return;
        
        var uploadedAttachment = await UploadAttachment();
        int attachmentId = uploadedAttachment.FileId;
        
        var request = new PostChatMessageRequest
        {
            ChatId = _chat.Id,
            Text = _attachment.Name,
            AttachmentId = attachmentId
        };
        
        try
        {
            await HubClient.PostMessage(request);
            _attachment = null;
        }
        catch (Exception e)
        {
            Logger.LogError("Exception occured {Ex}", e);
            throw;
        }
    }
    
    [MemberNotNullWhen(true, nameof(_chat))]
    private bool CanSendMessage() =>
        _chat is not null &&
        HubClient?.Connection is { State: HubConnectionState.Connected };
    
    
    private void AddMessage(PostChatMessageResult result)
    {
        Logger.LogInformation("Received event {Result}", result);
        _messages.Add(result.Message.Id, result.Message);
        StateHasChanged();
    }

    private void DeleteMessage(DeleteChatMessageResult result)
    {
        Logger.LogInformation("Deleting message with ID {Id}", result.MessageId);
        _messages.Remove(result.MessageId);
        StateHasChanged();
    }

    private void EditMessage(EditChatMessageResult result)
    {
        Logger.LogInformation("Editing message with ID {Id}", result.EditedMessage.Id);
        _messages[result.EditedMessage.Id] = result.EditedMessage;
        StateHasChanged();
    }

}

